# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Demos\MiraiWolframalpha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
